---
layout: default
title: Reentry Support
permalink: "/our-work/reentry-support/"
hero:
  heading: Reentry Support
  subtitle: CEIC supports community members with system involvement throughout the
    reentry process with record clearing, wraparound resources, and more, to ensure
    they have everything they need to be prosperous and whole.
  image: "/assets/images/placehold/1440x544.png"
  alt_text: Black background
menu:
  our-work:
    weight: 4

---
<div class="quick-link-container">
      <h3>Quick Links</h3>
      <ul class="list list--responsive">
        <li class="list-item list-item--icons">
          <svg class="icon icon--dark" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="{{ 'assets/images/sprites.svg#bill' | relative_url }}" />
          </svg>
          <a href="#">Expungement</a>
        </li>
      </ul>
    </div>

  {% include components/card-image.html
    image="assets/images/our-work/record-cleaning.png"
    heading="Record Clearing"
    text="CEIC supports people across the state in starting the process of clearing their records. Regardless of where the record is, and whether it is cannabis or not, the Coalition will help you start the record clearing process."
  %}

  {% include components/card-image.html
    image="assets/images/our-work/community-resource.png"
    heading="Community Resource Fairs"
    text="We organize & support wraparound resource fairs in communities across Illinois. These fairs bring vital resources such as housing, jobs, food assistance IDs, education, and more, directly to impacted communities."
  %}

  {% include components/card-image.html
    image="assets/images/our-work/legal-aid.png"
    heading="Legal Aid"
    text="We support people statewide access legal aid resources to help them navigate different issues."
  %}