@font-face {
	font-family: Karla;
	src: url($baseurl + '/assets/fonts/karla-regular.woff');
}

html {
	font-size: 16px;
	font-family: Karla, helvetica;
}

body {
  margin: 0;
  min-height: 100vh;

  // stop the jumping scrollbars
  overflow-x: scroll;
  overflow-y: scroll;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 23px;
}

p {
  font-size: 18px;
  line-height: 21px;
}

strong {
  font-weight: bold;
  font-size: 16px;
}

.mobile {
  display: inline-block;

  @include tablet {
    display: none;
  }
}

.tablet {
  display: none;

  @include tablet {
    display: inline-block;
  }
}

.desktop {
  display: none;

  @include desktop {
    display: inline-block;
  }
}
