---
layout: default
title: "Index"
---

{% include site-header.html %}

{% include_relative _components/hero.html
  image="assets/images/hero-policy.png" 
  heading="Policy & Political Education"
  text="We work to make cannabis policy in Illinois more inclusive, transparent and accountable"
%}
<main class="container">
  {% include_relative _components/card-image.html
    image="assets/images/policy-research.png" 
    heading="Policy Research"
    text="We research policies and practices that increase cannabis equity and share our findings with the public and with lawmakers. Our current areas of research include: opportunities for ownership for impacted entrepreneurs, increasing investment into impacted communities, and providing young people evidence-based education."
  %}

  {% include_relative _components/card-image.html
    image="assets/images/political-education.png" 
    heading="Political Education"
    text="We educate community members on the political process so they can effectively advocate for their communities. We host workshops, webinars, and social media campaigns to share tools & strategies to support people building power in their community. "
  %}

  {% include_relative _components/card-image.html
    image="assets/images/advocacy.png" 
    heading="Advocacy"
    text="We advocate for cannabis policies that support impacted communities and entrepreneurs while staying within the limits of 501(C)3 organization 
    "
  %}
</main>

{% include site-footer.html %}
