<section class="card card--grey">
  <img class="card-image" src="{{ block.image | relative_url }}" alt="{{ block.alt_text }}">
  <div class="card-text">
    <h3>{{ block.heading }}</h3>
    <p>{{ block.paragraph }}</p>
    {% if block.button_or_links == "button" %}
    <div class="foot">
      {% include components/button-link--light-bg.html
        text = block.text
        external = block.external
        url = block.url
        site_page = block.site_page
      %}
    </div>
    {% elsif block.button_or_links == "links"%}
    <div class="foot">
      {% for link in block.links %}
      <a href="{{ link.url }}" class="link-icon--green">
        {{ link.text }}
        {% include components/icon-social.html id="chevron" %}
      </a><br>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
