{% if block.style == "Home" and block.margin_color == true %}
<section class="hero hero--home hero--black">
{% elsif block.style == "Home" %}
<section class="hero hero--home hero--white">
{% elsif block.margin_color == true%}
<section class="hero hero--standard hero--black">
{% else %}
<section class="hero hero--standard hero--white">
{% endif %}
  <div class="hero-img-container">
    {% if block.style == "Home" %}
    {% include components/image-hero-home.html link=block.image alt=block.alt_text %}
    {% else %}
    {% include components/image-hero.html link=block.image alt=block.alt_text %}
    {% endif%}

    {% if block.gradient == true %}
    <div class="gradient-overlay"></div>
    {% endif %}

    <div class="hero-overlay">
      {% if block.heading == "page-title"%}
      <h1>{{ page.title }}</h1>
      {% else %}
      <h1>{{ block.heading }}</h1>
      {% endif %}

      {% if block.subtitle == "page-description"%}
      <p>{{ page.description }}</p>
      {% else %}
      <p>{{ block.subtitle }}</p>
      {% endif %}
    </div>

    {% if block.style == "Home" %}
    {% include components/button-scroll.html text=block.scroll_button %}
    {% endif%}

  </div>
</section>
