{% if block.style == "Flashy" %}
<section class="text-area flashy">
  {{ block.text_area }}
{% elsif block.style == "Splashy" %}
<section class="text-area splashy">
  {{ block.text_area }}
{% elsif block.style == "Two Column" %}
<section class="text-area two-column">
  {% if block.heading %}
  <h2>{{ block.heading }}</h2>
  {% endif %}
  <div class="row">
    <div class="column">
      {{ block.text_area}}
    </div>
    <div class="column">
      {{ block.column_two}}
    </div>
  </div>
{% else %}
<section class="text-area">
  {{ block.text_area }}
{% endif %}
{% if block.add_button %}
{% include components/button-link--light-bg.html
  text = block.text
  type = block.type
  url = block.url
  site_page = block.site_page
  file = block.file
%}
{% endif %}
</section>
