<header class="site-header">
  <div class="container header__container">
    <button aria-label="Open primary menu" class="btn--ghost burger-positioner" type="button" name="button" onclick="menuToggle()">
      {% include components/icon-hamburger.html %}
    </button>
    <button aria-label="Open search input" class="btn--ghost search-button search-positioner" type="button" name="button" onclick="searchToggle()">
      {% include components/icon-search.html %}
    </button>
    <div class="logo-positioner">
      {% include components/logo-responsive.html %}
    </div>
    <div class="donate-positioner">
      {% include components/button.html text="Donate" class="btn--light-bg"%}
    </div>
    <div class="menu-positioner">
      {% include menus/header.html %}
    </div>
  </div>
</header>
