<footer class="site-footer">
  <div class="site-footer-container">
    <div class="footer__content">
      <div class="footer-news-positioner">
        {% include components/newsletter-signup.html %}
      </div>
      <div class="footer-logo-positioner">
        {% include components/logo-primary.html %}
      </div>
      <div class="footer-nav-positioner">
        {% include menus/footer.html %}
      </div>
      <div class="footer-social-positioner">
        {% include components/social.html %}
      </div>
    </div>
    <p class="footer-info body-2">Cannabis Equity Illinois Coalition is a 501(c)3 nonprofit</p>
  </div>
</footer>
