<header class="site-header">
  <div class="container header__container">
    <button class="btn--ghost burger-positioner" type="button" name="button" onclick="menuToggle()">
      {% include_relative _components/icon-hamburger.html %}
    </button>
    <button class="btn--ghost search-button search-positioner" type="button" name="button" onclick="searchToggle()">
      {% include_relative _components/icon-search.html %}
    </button>
    <div class="logo-positioner">
      {% include_relative _components/logo-responsive.html %}
    </div>
    <div class="donate-positioner">
      {% include_relative _components/button.html text="Donate" class="btn--light-bg"%}
    </div>
    <div class="menu-positioner">
      {% include_relative _components/nav-primary.html %}
    </div>
  </div>
</header>
