footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  box-shadow: 0px -4px 20px rgba(210, 215, 223, 0.25);
  padding: 2% 5% 2% 5%;
  background-color: white;
  color: black;
  font-size: 1.13rem;
  font-size: 18px;

}

.footer-content-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid $light-green;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

}
// Newsletter Signup
.newsletter-container {
  width: 80%;
  margin-bottom: 10px;
}

.newsletter-header {
  width: 300px;
  line-height: 21px;
  margin: 0;
}

.newsletter-text {
  margin: 5px 0 5px 0;
}

.newsletter-form {
  font-size: 0;
}

.newsletter-email {
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: 0;
  height: 21px;
  border-right: 0;
}

.newsletter-submit {
  color: white;
  border-radius: 0 5px 5px 0;
  background-color: $dark-green;
  margin: 0;
  border: 0;
  height: 25px;
  width: 25px;
}

// Menu
.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem
  }
}

.footer-menu-link {
  color: $dark-green;
  font-size: .88rem;
  text-decoration: underline;

  &:active {
  color: #909090;
  }
}

// Site Branding
#footer-logo {
  display: inline-block;
}

// Social Media
.social-container {
  color: black;
  display: flex;
  flex-direction: column;

  @include tablet {
    align-self: flex-end;
  }

  p {
    margin: 0 0 0.75rem 0;
    text-align: center;

    @include tablet {
      text-align: end;
    }
  }
}

.social-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 .25rem 0;
  text-align: center;

  @include tablet {
  font-size: 1.75rem;
  }
}

.social-email {

}

.social-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  @include tablet{
    justify-content: flex-end;
  }
}

.social-media-icon {
  width: 1.92rem;
  height: 1.92rem;

  &:hover {
    fill: $light-green;
  }

  &:active {
    fill: $active-link;
  }
}

.social-link {
  display: inline-block;
}

.footer-info {
  color: black;
  font-size: 1.13rem;
}
