footer {
  position: absolute;
  bottom: 0;
  min-width: 320px;
  width: 88%;
  box-shadow: 0px -4px 20px $shadow;
  color: $black;
  padding: 20px 6% 20px 6%;
}

#footer-content-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid $light-green;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    display: grid;
    grid-template-columns: [col-start] 25% [col-1] 25% [col-2] 25% [col-3] 25% [col-end];
    grid-template-rows: [row-start] 25% [row-1] 25% [row-2] 40% [row-3] 10% [row-end];
  }

}

// Newsletter Signup
#newsletter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @include tablet {
    align-items: end;
    grid-column: col-2 / col-end;
    grid-row: row-start / row-2;
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    grid-column: col-start / col-end;
    grid-row: row-start / row-2;

  }
}

#newsletter-text-container {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

#newsletter-header {
  line-height: 1.31rem;
  margin: 0;

  @include tablet {
    width: 400px;
  }
}

#newsletter-text {
  margin: 5px 0 5px 0;
}

#newsletter-form {
  display: flex;
  font-size: 0;
  justify-content: end;
}

#newsletter-email {
  width: 90%;
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding-left: 5px;
  height: 31px;
  border-right: 0;

  @include tablet {
    width: 50%;
    border-radius: 5px;
    border: 2px solid black;
    height: 32px;
    padding-left: 5px;
  }
}

#mobile-submit {

}

.mobile-submit-svg {
  fill: $dark-green;

  &:hover {
    fill: $light-green;
  }
}

// Site Branding
#footer-logo {
  display: inline-block;

  @include tablet {
    grid-column: col-start / col-1;
    grid-row: row-1 / row-3;
  }

  @include desktop {
    grid-column: col-start / col-1;
    grid-row: row-2 / row-end;
  }
}


// Menu
#footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include tablet {
    grid-column: col-start / col-2;
    grid-row: row-3 / row-end;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    width: 400px;
  }

  @include desktop {
    grid-column: col-1 / col-2;
    grid-row: row-3 / row-end;
  }
}

.footer-menu-link {
  color: $dark-green;
  font-size: .88rem;
  text-decoration: underline;

  &:active {
  color: #909090;
  }
}

// Social Media
#social-container {
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  @include tablet {
    grid-column: col-2 / col-end;
    grid-row: row-2 / row-end;
  }

  p {
    margin: 0 0 0.75rem 0;
    text-align: center;

    @include tablet {
      text-align: end;
    }
  }
}

#social-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 .25rem 0;
  text-align: center;

  @include tablet {
  font-size: 1.75rem;
  text-align: right;
  }
}

#social-email {

}

#social-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;

  @include tablet{
    justify-content: flex-end;
  }
}

.social-media-icon {
  width: 1.92rem;
  height: 1.92rem;

  &:hover {
    fill: $light-green;
  }

  &:active {
    fill: $active-link;
  }
}

.social-link {
  display: inline-block;
}


#footer-info {
  color: black;
  font-size: 1rem;
}
