header {
  min-height: 60px;
  box-shadow: 0px 4px 20px rgba(210, 215, 223, 0.25);
  width: 90%;
  padding: 1.25rem 5%;
  color: $link-green;
  font-size: 1.13rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// Menu


// Button
button {
  background-color: $dark-green;
  border: .1rem solid $dark-green;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  margin-left: 1.25rem;
  margin-right: 0.37rem;
  padding: 8px 23px;

  &:hover, &:focus {
    background-color: white;
    border: .1rem solid $dark-green;
    color: $dark-green;
    cursor: pointer;
  }

  &:active {
    background-color: #D2D7DF;
  }
}
