header {
  min-width: 320px;
  width: 88%;
  box-shadow: 0px 4px 20px $shadow;
  padding: 20px 6% 20px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    display: inline-grid;
    grid-template-columns: [col-start] 140px[col-1] 1fr [col-2] 130px [col-end];
    grid-template-rows: [row-start] 50% [row-1] 50% [row-end];
  }
}
// Mobile Nav Menu
#site-menu {

  @include tablet {
    justify-self: end;
    grid-column: col-1 / col-end;
    grid-row: row-1 / row-end;
  }
}


.menu-container {
  display: none;

  &.is-active {
    position: absolute;
    transform: translateY(60px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @include tablet {
    position: static;
    transform: translate(0);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
  }
}

.dropdown-container {
    position: relative;
    cursor: pointer;

    &:hover {


      .dropdown-content {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        background-color: $white;
      }

      .plus-minus:before {
        transform: rotate(90deg);
      }

    }


    @include tablet {
      &:hover {

        .menu-arrowhead {
          transform: rotate(-180deg) translateY(.4rem);
        }

        .menu-underline {
          background-color: $dark-green;
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
}

.menu-underline {
  display: none;

  @include tablet{
    border: 0;
    border-radius: 3px;
    height: 3px;
    background-color: $white;
  }
}

.dropdown-content {
  list-style: none;
  margin: 0;
  display: none;

  @include tablet {
    position: absolute;
    box-shadow: 0px 4px 20px $shadow;
    z-index: 1;
    padding: 1rem;
    transform: translateX(-80px);
  }

}

.menu-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-title {
  font-size: 1.31rem;
  font-weight: bold;

  @include tablet {
    color: $link-green;
  }
}

.menu-item {
  min-width: 280px;
}

.menu-link {
  text-decoration: none;
  font-size: 1.13rem;
  line-height: 1.5rem;
  min-width: 280px;
  color: $link-green;

  @include tablet{
    color: $black;
  }
}

// Search
#search-container {
  display: flex;
  font-size: 0;
  justify-content: end;

  @include tablet {
    justify-self: end;
    grid-column: col-1 / col-2;
    grid-row: row-start / row-1;
  }

  #search-input {
    display: none;
    color: $input-grey;
    width: 80%;
  }

  #search-button {
    margin: 0;
    background-color: $white;
    cursor: pointer;
    height: 37px;
    border: 2px solid $white;
    border-left: 0;
  }

  &:hover {
    #search-button {
      border-radius: 0 5px 5px 0;
      border: 2px solid $input-grey;
      border-left: 0;
    }

    #search-input {
      display: block;
      color: $input-grey;
      width: 80%;
      border-radius: 5px 0 0 5px;
      border: 2px solid $input-grey;
      border-right: 0;
      margin: 0;
      padding-left: 5px;
      height: 37px;
    }

  }

}

#search-input {
  color: $input-grey;
  width: 80%;
  border-radius: 5px 0 0 5px;
  border: 2px solid $input-grey;
  border-right: 0;
  margin: 0;
  padding-left: 5px;
  height: 37px;
}

.search-icon {
  fill: $dark-green;
  height: 32px;
  width: 32px;
}

// Site Branding
#header-logo {

  @include tablet {
    grid-column: col-start / col-1;
    grid-row: row-start / row-end;
  }

  .logo {

  }
}

// Donate Button
#donate-button {

  @include tablet {
    justify-self: end;
    grid-column: col-2 / col-end;
    grid-row: row-start / row-1;
  }
}
