header {
  min-height: 60px;
  box-shadow: 0px 4px 20px rgba(210, 215, 223, 0.25);
  width: 90%;
  padding: 1.25rem 5%;
  color: $link-green;
  font-size: 1.13rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    display: grid;
    grid-template-columns: [col-start] 25% [col-1] 35% [col-2] 25% [col-3] 15% [col-end];
    grid-template-rows: [row-start] 25% [row-1] 25% [row-2] 25% [row-3] 25% [row-end];
  }
}
// Menu
#site-menu {

  @include tablet {
    justify-self: end;
    grid-column: col-2 / col-end;
    grid-row: row-3 / row-end;
  }
}

.header-nav-links {
  font-size: 21px;
  color: $link-green;
  text-decoration: none;
}

// Search
#search-container {

  @include tablet {
    justify-self: end;
    grid-column: col-2 / col-3;
    grid-row: row-1 / row-2;
  }
}

.search-icon {
  fill: $dark-green;
  height: 48px;
  width: 48px;
}

// Site Branding
#header-logo {

  @include tablet {
    grid-column: col-start / col-1;
    grid-row: row-start / row-end;
  }
}

// Donate Button
#donate-button {

  @include tablet {
    justify-self: end;
    grid-column: col-3 / col-end;
    grid-row: row-1 / row-2;
  }
}
