<nav class="nav-primary">
  <ul class="list list--responsive">
    {% for item in site.data.menu-header %}
      <li class="list-item">
        <button class="btn--ghost btn--icons">
          <span class="icon-plus"></span>
            <span class="navigation">{{ item.title }}</span>
            <svg class="icon icon-triangle icon--small" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="{{ 'assets/images/sprites.svg#triangle' | relative_url }}" />
            </svg>
          {% if page.url contains item.folder %}
          <span class="bar visible"></span>
          {% else %}
          <span class="bar"></span>
          {% endif %}
        </button>
        <ul class="list sub-list">
          {% for courier in site.pages %}
          {% if courier.url contains item.folder %}
          {% if courier.url == page.url %}
          <li class="current"><span class="menu-link">{{ courier.title }}</span></li>
          {% else %}
          <li><a class="menu-link" href="{{ courier.url | relative_url }}">{{ courier.title }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
