// Colors
$ceic-green: #10A882;
$dark-green: #126B55;
$grey: #D2D7DF;
$white: #FFFFFF;
$charcoal: #444444;
$black: #000000;
$button-pressed: #093228;
$button-deactivated: #126B55;
$ceic-purple: #4C327D;


// Old colors-to be removed in polish pass
$logo-green: #10ac84;
$light-green: #10A882;
$orange: #ec7907;
$dark-grey: #525252;
$light-grey: #eaeaea;
$link-green: #368370;
$active-link: #909090;
