$ceic-green: #10A882;
$dark-green: #126B55;
$link-green: #368370;
$grey: #D2D7DF;
$white: #FFFFFF;
$charcoal: #444444;
$black: #000000;
$button-pressed: #093228;
$button-deactivated: #909090;
$ceic-purple: #4C327D;
$input-grey: #909090;
$shadow: rgba(210, 215, 223, 0.25);


// Old colors-to be removed in polish pass
$logo-green: #10ac84;
$orange: #ec7907;
$dark-grey: #525252;
$light-grey: #eaeaea;
