/* BREAKPOINTS */
$tablet-width: 768px;
$desktop-width: 1024px;

/* CONTENT WIDTHS */
$std-content-width-max: 1204px;
$skinny-content-width-max: 896px;

/* COLORS */
$white: #FFFFFF;
$black: #000000;
$green-400: #10A882;
$green-600: #126B55;
$green-800: #093228;
$green-800-semi: rgba(9, 50, 40, 0.5);
$neutral-50: #F3F3F3;
$neutral-100: #E7E7E7;
$neutral-300: #B9B0B9;
$neutral-500: #8A8A8A;
$green-700: #0E4F3F;
$neutral-800: #444444;
$purple-50: #EDE9FD;
$purple-400: #775BE4;
$purple-600: #3E2F76;
$shadow-box: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.1);

$input-grey: #909090;
$link-green: #368370;
$shadow: rgba(210, 215, 223, 0.25);


/* TIMINGS */
$speed-std: 0.4s;
$speed-slow: 0.6s;
