<div class="search-container ">
  <form class="form form-search" method="get" action="https://www.google.com/search">
    <label for="q" class="visually-hidden">Search</label>
    <input class="input search__input" type="text" name="q" value="" placeholder="Search">
    <input type="hidden" name="as_sitesearch" value="cannabisequityil.org/">
    <span class="icon-search search-span" aria-label="expand search"></span>
  </form>
  <button onClick="toggleSearchInput()" class="btn btn--ghost icon-search search-button" aria-label="expand search"></button>
  {% include components/button.html class="btn btn--light-bg search-submit" text="Submit" %}
</div>
