<div class="purple-policy-container container">
  <h3>How to get involved</h3>

  <div class="carousel">
    <div class="green-box">
      <h4>SUPPORT</h4>
      <p>SUPPORT our Political Education program or join an event</p>
			<button class="btn btn--dark-bg">Ways to Support</button>
    </div>

    <div class="green-box">
      <h4>JOIN</h4>
      <p>JOIN our Policy Research working groups</p>
			<button class="btn btn--dark-bg">Join The Working Groups</button>
    </div>

    <div class="green-box">
      <h4>MEMBER</h4>
      <p>become an equity member to support this work</p>
			<button class="btn btn--dark-bg">Become A Member</button>
    </div>
  </div>

</div>
