<div class="quick-link-container">
  <h3>Quick Links</h3>

  <ul class="list list--responsive">
    <li class="list-item list-item--icons">
      <svg class="icon icon--dark" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="{{ 'assets/images/sprites.svg#video' | relative_url }}" />
      </svg>
      <a href="#">HB 327 Press Conference</a>
    </li>

    <li class="list-item list-item-icons">
      <svg class="icon icon--dark" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="{{ 'assets/images/sprites.svg#house' | relative_url }}" />
      </svg>
      <a href="#" class="text-links">Support HB 1443</a>
    </li>
  </ul>

</div>
