<div class="connect">
  <h4>Connect with us</h4>
  <p class="body-1">Cannabisequityil@gmail.com</p>
  <div class="social-container">
    <a href="https://www.facebook.com/CannaEquityIL/" aria-label="Facebook" target="_blank">
      {% include components/icon-social.html id="facebook" %}
    </a>
    <a href="https://www.instagram.com/CannaEquityIL/" aria-label="Instagram" target="_blank">
      {% include components/icon-social.html id="instagram" %}
    </a>
    <a href="https://twitter.com/CannaEquityIL/" aria-label="Twitter" target="_blank">
      {% include components/icon-social.html id="twitter" %}
    </a>
  </div>
</div>
