.site-header {
  box-shadow: 0px 4px 20px $shadow;
}

.header__container {
  @include spacing-skinny-nopad;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include tablet {
    display: grid;
    grid-template-columns: [col-start] 140px[col-1] 1fr [col-2] 130px [col-end];
    grid-template-rows: [row-start] 50% [row-1] 50% [row-end];
  }
}

.site-header .logo {
  width: 105px;

  @include tablet {
    width: 149px;
  }
}

.site-header .btn {
  font-size: 1.2rem;
  line-height: 1.6rem;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.search-positioner {

  @include tablet {
    justify-self: end;
    grid-column: col-1 / col-2;
    grid-row: row-start / row-1;
  }
}

.logo-positioner {
  padding-top: 4px;

  @include tablet {
    padding-top: 0;

    grid-column: col-start / col-1;
    grid-row: row-start / row-end;
  }
}

.donate-positioner {

  @include tablet {
    justify-self: right;

    grid-column: col-2 / col-end;
    grid-row: row-start / row-1;
  }
}

.menu-positioner {
  margin-left: 2rem;
  max-height: 0;
  overflow: hidden;
  flex-basis: 100%;
  transition: all $speed-std;
  order: 5;

  @include tablet {
    max-height: none;
    display: block;
    justify-self: right;
    overflow: visible;

    grid-column: col-1 / col-end;
    grid-row: row-1 / row-end;

  }
}

.menu-clicked {

  .burger-positioner {
    order: 4;
  }

  .search-positioner {
    order: 1;
  }

  .logo-positioner {
    order: 3;
  }


  .menu-positioner {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-height: 1200px;
  }

  .donate-positioner {
    display: none;
  }

  @include tablet {

    .donate-positioner {
      display: revert;
    }
  }
}

.search-clicked {

  .burger-positioner {
    order: 1;
  }

  .search-positioner {
    order: 3;
  }

  .logo-positioner {
    order: 2;
  }

  .donate-positioner {
    display: none;
  }

  @include tablet {

    .donate-positioner {
      display: revert;
    }
  }

}
