.card-image-container {
  @include spacing-std;

  font-size: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-direction: row;
    gap: 32px;
  }
}

.card-container--grey {
  background-color: $neutrals50;
}

.card-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: fixed;

  @include tablet {
    width: 50%;
  }
}

.card-text {
  background-color: white;
  width: 100%;
  padding: 16px;

  @include tablet {
    padding: 32px;
    width: 50%;
  }

  h3  {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}
