.card {
  @include spacing-short;

  font-size: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-direction: row;
    gap: 32px;
  }

  h3 {
    text-align: left;
  }
}


.card--grey {
  background-color: $neutral-50;
}

.card--purple {
  background: $purple-600;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-image-container {
  width: 100%;

  @include tablet {
    width: 50%;
  }
}

.card-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  @include tablet {
    width: 50%;
  };

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.card-text {
  background-color: white;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;


  @include tablet {
    padding: 32px;
    width: 50%;
  }

  h3  {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  .foot {
    padding-top: 24px;
    margin-top: auto;
  }
}
