.carousel-container {
  text-align: center;
  margin: 32px 0;
  padding: 0 16px;
  overflow: hidden;
  width: 100%;

  @include tablet {
    margin: 64px 0;
    padding: 0 32px;
  }

  @include desktop {
    padding: 0;
    width: 88%;
    margin: 64px auto;
  }

  h2 {
    margin-bottom: 32px
  }

}

.carousel {
  display: flex;

  gap: 2rem;
  overflow-x: auto;
  justify-content: center;

  @include desktop {
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    font-size: 6.0rem;
    line-height: 7.2rem;
    margin: 4rem 0 0 ;
    color: $white;
  }

  p  {
    color: $white;
  }
}
