.carousel-container {
  text-align: center;
  padding: 2rem;
  overflow: hidden;

  h4 {
    font-size: 6.0rem;
    line-height: 7.2rem;
    margin: 4rem 0 0 0;
    color: $white;
  }

  p  {
    color: $white;

  }
}

.carousel {
  display: flex;

  gap: 2rem;
  overflow-x: auto;

  @include desktop {
    justify-content: center;
  }
}

.carousel-block-purple {
  padding-top: 3rem;
  background-color: $purple;
  min-width: 320px;
  max-width: 320px;
  min-height: 300px;

  h4 {
    margin-bottom: 3rem;
  }

  p {
    width: 200px;
    margin: auto;
  }
}

.green-box {
  text-align: left;
  padding: 3.2rem;
  word-wrap: break-word;
  background-color: $dark-green;
  flex-basis: 33%;
  min-width: 310px;
  max-width: 310px;
  position: relative;

  h4 {
    padding: 0;
    margin: 0;
    width: 160px;
    min-height: 160px;
  }

  p {
    margin-left: 0;
    margin-bottom: 5rem;
    text-transform: uppercase;
  }

  button {
    position: absolute;
    bottom: 3.2rem;
  }
}
