.form {
  position: relative;
}

.form-search {

  .search__input {
    background-color: transparent;
  }

  .icon-search {
    background: transparent;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.form-email {

  @include tablet {
      text-align: right;
  }

  @include desktop {
    height: inherit;
    display: inline-block;

  }

  @media screen and (max-width: #{$tablet-width}) {

    .btn {
      font-size: 0;
      position: absolute;
      right: 0;
      height: 100%;
      padding: 10px;
      border-radius: 0 4px 4px 0;
      gap: 0;
    }
  }

  @include tablet {
    .icon {
      display: none;
    }

    .btn {
      margin-left: 16px;
    }
  }

}
