.hero-container {
  width: 100%;

  position: relative;
  text-align: center;
  font-size: 0;
}

.hero-img {
  object-fit: cover;
  object-position: 70%;
  height: 80vw;
  max-height: 544px;
  width: 100%;
  min-height: 300px;
}

.gradient-overlay {
  content:'';
  position:absolute;
  z-index: 1;
  left:0; top:0;
  width: 100%; 
  height: 100%;
  display:inline-block;
  background: linear-gradient(90.03deg, #120923 -11.71%, rgba(196, 196, 196, 0) 99.97%);
}

.hero-container h1 {
  margin: 0.5rem 0;
}

.hero-container p {
  font-size: 2.0rem;
  line-height: 2.4rem;

  margin: 0.5rem 0;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

.hero-overlay {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 10%;
  max-width: 42rem;
  text-align: left;
  color: white;

  @include tablet {
    max-width: 60rem;
  }
}

