.hero-container {
  position: relative;
  font-size: 0;
}

.hero-img {
  object-fit: cover;
  object-position: 70%;
  height: 80vw;
  max-height: 544px;
  width: 100%;
  min-height: 300px;
}

.gradient-overlay {
  content:'';
  position:absolute;
  z-index: 1;
  left:0; top:0;
  width: 100%;
  height: 100%;
  display:inline-block;
  background: linear-gradient(90.03deg, #120923 -11.71%, rgba(196, 196, 196, 0) 99.97%);
}

.hero-container h1 {
  margin: 1rem 0;

  max-width: 42rem;

  @include tablet {
    max-width: 50rem;

  }
}

.hero-container p {
  font-size: 2.0rem;
  line-height: 2.4rem;

  margin: 0.5rem 0;
  max-width: 42rem;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 50rem;
  }

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

p.nav-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  color: $white;

  font-family: helvetica;
  font-size: 1.2rem;

  a {
    color: $white;
    font-size: 1.2rem;
    transition: text-shadow $speed-std;
  }

  a:hover {
    text-shadow: 0.2px 0.2px $white;
  }

  strong {
    font-size: 1.2rem;
  }
}

.hero-overlay {
  position: absolute;
  z-index: 2;
  top: 51%;
  transform: translateY(-50%);
  max-height: 95%;
  color: white;

  @include tablet {
    top: 50%;
  }
}
