.img-hero {
  width: 100%;
}

.hero-container {
  width: 100%;
  position: relative;
  text-align: center;
}

.float-header {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 60%;
  text-align: left;
  color: white;
}

.float-tag {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 60%;
  text-align: left;
  color: white;
}