.list  {
  list-style: none;
  padding-left: 0;
}

.list--responsive .list-item {
  text-align: center;
  display: flex;
  margin: 1rem 0;


  @include tablet {
    display: inline-flex;
    margin-right: 2rem;
  }
}

.list-item--icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-footer a {
  color: $dark-green;
  transition: color $speed-std;

  &:hover {
    color: $ceic-green;
  }
}
