.logo {
  margin: 1rem;
  fill: $ceic-green;
  transition: fill $speed-std;

  &:hover {
    fill: $dark-green;
  }
}



.logo--mobile {
  width: 234px;
}

.logo--primary {
  width: 149px;
}

.link--logo {
  text-decoration: 0;
  font-size: 0;
}
