.nav-primary {

  @include tablet {
    position: relative;

    top: auto;
    left: auto;
  }

}

.nav-primary {

  .icon-triangle {
    display: none;
    fill: $dark-green;

    @include tablet {
      display: block;
    }
  }

  .navigation {
    color: $button-pressed;

    @include tablet {
      color: $dark-green;
    }
  }

}

.bar {
  margin-top: 4px;
  background-color: $white;
  height: 3px;
  width: 100%;
  border-radius: 99px;
}

.nav-primary button {

  + .sub-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height $speed-slow;
  }

  &:focus {
    .icon-plus:after {
      transform: rotate(0);
    }

    + .sub-list {
      max-height: 30rem;
    }
  }

  &:active {

    .icon-plus:before, .icon-plus:after {
      background-color: $ceic-green;
    }

    .navigation {
      color: $ceic-green;
    }


  }


  @include tablet {

    &:focus {

      .icon-triangle {
        transform: rotate(180deg);
      }

      .bar {
        background-color: $dark-green;
      }

    }

    &:active {

      .navigation {
        color: $button-pressed;
      }

      .icon-triangle {
        fill: $button-pressed;
      }

      .bar {
        background-color: $button-pressed;
      }
    }

  }

  @include desktop {

    &:hover {
      .navigation {
        color: $button-pressed;
      }

      .icon-triangle {
        fill: $button-pressed;
      }

      .bar {
        background-color: $button-pressed;
      }

    }

  }
}
