.nav-primary {


  @include tablet {
    position: relative;

    top: auto;
    left: auto;
  }
}
  
.nav-primary {
  opacity: 1;
  max-height: 20vh;
}

.nav-primary .icon-triangle {
  display: none;
  fill: $dark-green;

  @include tablet {
    display: block;
  }
}



.list-item-header {

  @include tablet {
      color: $dark-green;
  }
}

  .icon--small {
  height: 1.6rem;
  }

  .list-item {

  &:hover {

      .icon-triangle {
      transform: rotate(180deg)
      }

      .icon-plus:after {
        transform: rotate(0);
      }
    }
  }
