.purple-policy-container {
  text-align: center;
  padding: 2rem;
  overflow: hidden;

  h4 {
    font-size: 6.0rem;
    line-height: 7.2rem;
    margin: 4rem 0 0 0;
    color: $white;
  }

  p  {
    color: $white;
    margin: 0 2rem 4rem 2rem;
  }
}

.carousel {
  display: flex;
  gap: 2rem;
  overflow-x: auto;


}

.purple-box {
  background-color: $purple;
  flex-basis: 33%;
  min-width: 250px;
}
