<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="icon" href="{{ "/favicon.ico" | relative_url }}" sizes="any">
    <link rel="icon" href="{{ "/favicon.svg" | relative_url }}" type="image/svg+xml">
    <link rel="icon" href="{{ "/apple-touch-icon.png" | relative_url }}">
  </head>
  <body class="site-body">
    {% include site-header.html %}
    <main>
        {% include sections/loader.html %}
        {{ content }}
    </main>
    {% include site-footer.html %}
    <script src="{{ 'assets/js/script.js' | relative_url }}" type="text/javascript"></script>
  </body>
</html>
