---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" href="{{ "/favicon.ico" | relative_url }}" sizes="any">
    <link rel="icon" href="{{ "/favicon.svg" | relative_url }}" type="image/svg+xml">
    <link rel="icon" href="{{ "/apple-touch-icon.png" | relative_url }}">
    <link rel="preload" href="{{ "/assets/fonts/karla-regular.woff2" | relative_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "/assets/fonts/karla-bold.woff2" | relative_url }}" as="font" type="font/woff2" crossorigin>
  </head>
  <body class="site-body">
    {% include site-header.html %}
    <main>
        {% include sections/loader.html %}
        {{ content }}
    </main>
    {% include site-footer.html %}
    <script src="{{ 'assets/js/script.js' | relative_url }}" defer></script>
  </body>
</html>
