.embed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.embed.standard {
  @include spacing-std-nopad;
}

.embed.wide {
  @include spacing-wide-nopad;
}

.embed.skinny {
  @include spacing-skinny-nopad;
}
