.hero {
  position: relative;
  font-size: 0;
  display: flex;
  justify-content: center;
}

.hero--black {
  background: $black;
}

.hero--white {
  background: $white;
}

.hero-img-container {
  position: relative;
}

.hero-img {
  object-fit: cover;
  object-position: 70%;
  height: 100vw;
  max-height: 544px;
  max-width: 100%;
  min-height: 318px;
}

.hero-img-home {
  object-fit: cover;
  object-position: 70%;
  height: 90vw;
  max-height: 812px;
  max-width: 100%;
  min-height: 300px;
}

.gradient-overlay {
  content:'';
  position:absolute;
  z-index: 1;
  left:0; top:0;
  width: 100%;
  height: 100%;
  display:inline-block;
  background: linear-gradient(90.03deg, #120923 -11.71%, rgba(196, 196, 196, 0) 99.97%);
}

.hero h1 {
  text-align: left;
  margin: 1rem 0;

  max-width: 42rem;

  @include tablet {
    max-width: 50rem;

  }
}

.hero.hero--home h1 {
  max-width: 100%;
}

.hero p {
  font-size: 2.0rem;
  line-height: 2.4rem;

  margin: 0.5rem 0;
  max-width: 42rem;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 50rem;
  }

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}


.hero--standard .hero-overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  max-height: 95%;
  color: $white;
  transform: translateY(-50%);

  @include left-margin-abs;

  @include tablet {
    transform: translateY(-50%);
  }

  @include desktop {
    transform: translate(-50%,-50%);
  }
}

.hero--home .hero-overlay {
  position: relative;
  z-index: 2;
  color: $white;
  background-color: $black;
  padding: 16px;

  @include tablet {
    padding: 0;
    position: absolute;
    top: 50%;
    max-height: 95%;
    transform: translateY(-50%);
    background-color: transparent;

    @include left-margin-abs;
  }

  @include desktop {
    transform: translate(-50%,-50%);
  }

}