.instagram-feed {
  @include spacing-std-nopad;

  .text-container {
    margin-left: 16px;

    @include tablet {
      margin-left: 32px;
    }

    @include desktop {
      margin-left: 64px;
    }
  }
}

.post-container {
  display: grid;

  gap: 32px;


  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  div {

    img {
      width: 100%;
      height: auto;
    }
   }
}