.carousel-block-purple {
  padding-top: 3rem;
  background-color: $purple-600;
  width: 300px;
  min-width: 300px;
  min-height: 300px;

  @include tablet {
    width: 30vw;
    min-width: 220px;
    max-width: 300px;
  }

  h4 {
    margin-bottom: 3rem;
  }

  p {
    width: 200px;
    margin: auto;
  }
}
