.quick-links {
  background-color: $neutrals50;
  text-align: center;

  @include spacing-std;

  @include tablet {
    padding: 32px;
  }

  h2 {
    margin: 0px 0 32px 0;
    text-align: center;

    font-size: 2.0rem;

    @include tablet {
      font-size: 2.4rem;
    }
  }
}
