.testimonial {
  padding: 32px 0;
  margin: 32px 0;
  background: $purple-light;

  @include tablet {
    padding: 64px 0;
    margin: 64px 0;
  }

  .card {
    background: $purple;
    margin: 0 auto;
    max-width: 994px;
  }
}


.quote-container {
  margin-top: 4rem;
  position: relative;
}

.quote {
  padding: 0 3rem;
  color: $purple;
}

.quote:before {
  position: absolute;
  top: 2rem;
  left: 0;
  content: open-quote;
  font-size: 7rem;
}

.quote:after {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  content: close-quote;
  font-size: 7rem;
}
