.text-area {
  @include spacing-skinny-nopad;


  h2:first-child {
    margin-top: 0;
  }
}

.flashy {
  @include spacing-skinny;
  color: $green-700;
  border: 1px solid $neutral-300;


  h1, h2, h3 {
    color: $green-800;
  }
}

.splashy {
  @include spacing-skinny;
  color: $neutral-900;
  border: 1px solid $green-600;

}
