html {
  min-width: 320px;
  box-sizing: border-box;
}

/* Keeps box sizing consistent across elements, while allowing overides as neeeded*/
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 1096px;
  margin: auto;
}

.input {
  border: 1px solid $input-grey;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  min-width: 250px;
}

.input::placeholder {
  color: $input-grey;
}
