html {
  min-width: 320px;
  box-sizing: border-box;
  /* don't want horizontal scroll from full width escape.. sigh */
  overflow-x: hidden;
}

/* Keeps box sizing consistent across elements, while allowing overides as neeeded*/
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 1096px;
  margin: auto;
}

.container-padding {
  padding: 0 4vw;
}

.input {
  border: 1px solid $input-grey;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  min-width: 250px;
}

.input::placeholder {
  color: $input-grey;
}

main {
  flex-grow: 1;
}

/* ignores ancestors' horizontal constraints */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
