html {
  font-size: 62.5%; // allows easy font size calc. std font is 16px *.625 = 10px
  font-family: Karla, helvetica;
}

body {
  font-size: 1.6rem; // set base font size to 16px, while allowing user to resize
  line-height: 1.5;
}

h1 {
  font-size: 4.0rem;
  line-height: 4.8rem;
  text-transform: bold;

  @include tablet {
    font-size: 6.0rem;
    line-height: 7.2rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 4.0rem;
  text-transform: bold;

  @include tablet {
    font-size: 4.0rem;
    line-height: 4.8rem;
  }
}

h3 {
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-transform: bold;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

h4 {
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-transform: bold;

}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.navigation {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: normal;
  }
}

.subtitle-1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.subtitle-2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.6rem;
}

.body-1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.body-2 {
  font-size: 1.4rem;
  line-height: 2.0rem;
}

.caption {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.text-links {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.utility-links {
  font-size: 1.2rem;
  line-height: 2.1rem;

  @include tablet {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  color: $dark-green;
  transition: color $speed-std;

  &:hover {
    color: $ceic-green;
  }
}

strong {
  font-size: 1.6rem;
  font-weight: bold;
}
